/* -------------------------------------------- */
/* body */
:root {
  --gap: 0.75rem;
  --white: #fffffe;
  --black: #121212;
  --transition: all 0.3s ease;
  --blur: blur(1rem) saturate(180%);
  --shadow: 0 1px 2px #12121230, inset 1px 2px 3px #fffffe30;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  color: currentColor;
  text-decoration: none;
  box-sizing: border-box;
  /* transition: var(--transition); */
  font-family: "Poppins", "sans-serif";
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  transition: var(--transition);
  font-family: Arial, Helvetica, sans-serif;
}
.base {
  padding: var(--gap);
  margin: 2rem 1.5rem;
}
/* -------------------------------------------- */
/* header */
.header {
  top: 0;
  z-index: 3;
  gap: 0.25rem;
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  font-weight: 700;
  align-items: center;
  padding: var(--gap);
  background-color: #fffffe20;
  justify-content: space-between;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  box-shadow: 0 1rem 1rem #12121220, inset 0 -1rem 1rem #fffffe20;
}
/* -------------------------------------------- */
/* time container */
.currentDate,
.currentTime {
  display: flex;
  gap: var(--gap);
  /* font-size: 1rem; */
  font-size: clamp(1rem, 1rem + 10vw, 1rem);
  text-transform: capitalize;
}
.currentDate .text,
.currentTime .text {
  padding: var(--gap);
  border-bottom: 1px solid #ff0000;
}
@media screen and (max-width: 725px) {
  .currentDate,
  .input-box,
  .dropbtn {
    display: none;
  }
}
/* -------------------------------------------- */
/* dark mode button */
.header .darkBtn {
  cursor: pointer;
  padding: var(--gap);
  color: var(--white);
  border-radius: var(--gap);
  transition: var(--transition);
  background-color: var(--black);
}
.header .darkBtn:active {
  scale: 0.9;
  color: var(--black);
  background-color: var(--white);
}
/* -------------------------------------------- */
/* input */
.input-box .input {
  padding: var(--gap);
  color: var(--black);
  position: relative;
  border-radius: var(--gap);
}
/* -------------------------------------------- */
.notification {
  display: flex;
  color: #121212;
  background-color: transparent;
  font-weight: bold;
  gap: var(--gap);
  align-items: center;
  position: relative;
}
.notification img {
  width: clamp(2rem, 5vw, 3rem);
}
.notification span {
  position: absolute;
  font-size: 0.5rem;
  background-color: var(--white);
  padding: 0.4rem;
  width: 4px;
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.3rem;
  right: 0.4rem;
  border-radius: 50%;
}
#toastContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5vw;
  top: 10vw;
  z-index: 3;
  position: fixed;
}
.notification-item {
  background-color: wheat;
  display: flex;
  align-items: center;
  padding: var(--gap);
  gap: var(--gap);
  text-transform: capitalize;
  animation: slider 0.3s linear;
  transition: var(--transition);
}
.notification-item .close {
  scale: 0.8;
  cursor: pointer;
  border-radius: 3rem;
  padding: var(--gap);
  border: 3px solid #121212;
  transition: var(--transition);
  background-color: var(--white);
}
.notification-item .text {
  font-weight: bold;
}
/* -------------------------------------------- */
@keyframes slider {
  from {
    transform: translateX(800px);
  }
  /* to {
    transform: translateX(0) scale(1);
  } */
}
/* -------------------------------------------- */
/* login button */
.login-btn {
  padding: var(--gap);
  border-radius: var(--gap);
  color: var(--black);
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: 1px;
}
.login-btn:hover {
  color: var(--white);
  background-color: var(--black);
}
.modal {
  padding: var(--gap);
  background-color: var(--white);
  width: 20rem;
  color: var(--black);
  position: fixed;
  min-height: 20rem;
  display: flex;
  border-radius: var(--gap);
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  box-shadow: var(--shadow);
  z-index: 5;
  transform: translate(-50%, -50%);
}
.modal::after {
  content: "";
  position: fixed;
  z-index: -3;
  width: 100vw;
  height: 100vw;
  background-color: #12121230;
}
.modal .closeBtn {
  top: 1rem;
  background-color: red;
  padding: var(--gap);
}
/* -------------------------------------------- */
/* select menubar */
.dropbtn {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--black);
}
.dropdown {
  position: relative;
}
.dropdown-content {
  z-index: 2;
  right: 1rem;
  display: none;
  position: absolute;
  box-shadow: var(--shadow);
  border-radius: var(--gap);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
}
.dropdown-content .dropdown-item {
  display: block;
  cursor: pointer;
  margin: var(--gap);
  padding: var(--gap);
  border-radius: var(--gap);
  box-shadow: var(--shadow);
}
.dropdown-content .dropdown-item:hover {
  background-color: wheat;
}
.show {
  display: block;
}
/* -------------------------------------------- */
/* card */
.container {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}
.card {
  padding: 1rem;
  gap: var(--gap);
  margin: 1rem 0;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: var(--gap);
  border: 1px solid #fffffe40;
  background-image: linear-gradient(to top left, wheat, var(--white));
}
.card .item {
  transition: var(--transition);
}
.closeBtn,
.card .close {
  scale: 0.8;
  right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  padding: var(--gap);
  border: 3px solid #121212;
  transition: var(--transition);
  background-color: var(--white);
}
.closeBtn,
.card .close:hover,
.notification-item .close:hover {
  scale: 1;
  background-color: var(--white);
}
/* -------------------------------------------- */
.card .item {
  cursor: pointer;
  min-height: 10rem;
  border-radius: var(--gap);
}
/* -------------------------------------------- */
.card .card-title {
  font-size: 1.5rem;
  margin: var(--gap) 0;
}
.card .card-text {
  margin: var(--gap) 0;
}
/* -------------------------------------------- */
/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--white);
    background-color: var(--black);
  }
  .container .card {
    box-shadow: var(--shadow);
    background-image: linear-gradient(to top left, #444444, #444444);
  }
  .card .card-title,
  .card .card-text {
    color: var(--white);
  }
  .currentDate .text,
  .currentTime .text {
    border-bottom: 1px solid yellow;
  }
}
/* -------------------------------------------- */
/* clock */
.clock {
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  --size: 20rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--white);
  background-image: url("src/clock-face-2879896_1280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.pointer {
  padding: var(--gap);
  background-color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: 3;
}
.arrow {
  position: absolute;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform-origin: bottom;
}
.hourArrow {
  height: 5rem;
  width: 0.7rem;
  top: 5.2rem;
  left: 9.7rem;
  background-color: var(--black);
}
.minuteArrow {
  height: 6rem;
  width: 0.8rem;
  top: 4rem;
  left: 9.6rem;
  background-color: #444444;
}
.secondArrow {
  height: 8rem;
  width: 0.3rem;
  top: 2rem;
  left: 9.9rem;
  background-color: #ff0000;
}
/* -------------------------------------------- */
