/* -------------------------------------------- */
/* body */
:root {
  --gap: 0.75rem;
  --white: #fffffe;
  --black: #121212;
  --transition: all 0.3s ease;
  --blur: blur(1rem) saturate(180%);
  --shadow: 0 1px 2px #12121230, inset 1px 2px 3px #fffffe30;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  color: currentColor;
  text-decoration: none;
  box-sizing: border-box;
  transition: var(--transition);
  font-family: "Poppins", "sans-serif";
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
}
.base {
  padding: var(--gap);
  margin: 2rem 1.5rem;
}
/* body */
/* -------------------------------------------- */
/* header */
.header {
  top: 0;
  z-index: 3;
  gap: 0.25rem;
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  font-weight: 700;
  align-items: center;
  padding: var(--gap) 1.5rem;
  background-color: #fffffe20;
  justify-content: space-between;
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  box-shadow: 0 1rem 1rem #12121220, inset 0 -1rem 1rem #fffffe20;
}
/* @media screen and (max-width: 425px){
  .header {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
} */
/* -------------------------------------------- */
/* time container */
.currentDate,
.currentTime {
  display: flex;
  gap: var(--gap);
  font-size: 2rem;
  text-transform: capitalize;
}
.currentDate .text,
.currentTime .text {
  padding: var(--gap);
  border-bottom: 1px solid #ff0000;
}
/* time container */
/* -------------------------------------------- */
/* input */
.input-box .input {
  padding: var(--gap);
  color: var(--black);
  border-radius: var(--gap);
}
/* input */
/* -------------------------------------------- */
/* select menubar */
.dropbtn {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: wheat;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  z-index: 2;
  right: 1rem;
  display: none;
  position: absolute;
  box-shadow: var(--shadow);
  border-radius: var(--gap);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
}
.dropdown-content .dropdown-item {
  display: block;
  cursor: pointer;
  margin: var(--gap);
  padding: var(--gap);
  border-radius: var(--gap);
  box-shadow: var(--shadow);
}
.dropdown-content .dropdown-item:hover {
  background-color: wheat;
}
.show {
  display: block;
}
/* header */
/* -------------------------------------------- */
/* card */
.container {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.card {
  width: 18rem;
  display: flex;
  padding: 1rem;
  gap: var(--gap);
  overflow: hidden;
  flex-direction: column;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: var(--gap);
  border: 1px solid #fffffe40;
  background-image: linear-gradient(to top left, wheat, var(--white));
}
.card .close {
  scale: 0.8;
  right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  padding: var(--gap);
  border: 3px solid #121212;
  transition: var(--transition);
  background-color: var(--white);
}
.card .close:hover {
  scale: 1;
  background-color: var(--white);
}
/* -------------------------------------------- */
.card .item {
  height: 10rem;
  cursor: pointer;
  border-radius: var(--gap);
}
/* -------------------------------------------- */
.card .card-title {
  font-size: 1.5rem;
  margin: var(--gap) 0;
}
.card .card-text {
  margin: var(--gap) 0;
}
/* card */
/* -------------------------------------------- */
/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--white);
    background-color: var(--black);
  }
  .container .card {
    box-shadow: var(--shadow);
    background-image: linear-gradient(to top left, #444444, #444444);
  }
  .card .card-title,
  .card .card-text {
    color: var(--white);
  }
  .currentDate .text,
  .currentTime .text {
    border-bottom: 1px solid yellow;
  }
}
/* -------------------------------------------- */
